rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allows anyone to read and write to the database.
    // This is useful for development, but for production,
    // you will need authentication-based rules.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
